* {
    margin: 0;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
}

body {
    overflow: hidden;
}

.main, .extra-area, .extra-area-block, .cell, .end-game-window, .score-blocks, .score-blocks, .menu-button, .menu-window {
    display: flex;
    justify-content: center;
    align-items: center;
}


.main {
    width: 100vw;
    height: 100vh;
    background-color: #F9F8EE;
    /* background-color: #f7f7f7; */
    /* position: relative; */
}


.end-game-window {
    display: none;
    position: relative;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    /* background-color: #F9F8EE; */
    color: #766E64;
    flex-direction: column;
    z-index: 99;
    transition: all .6s ease-in-out;
    transition-delay: .8s;
}
.end-game-bg {    
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #F9F8EE;
    opacity: .6;
    z-index: -1;
    transition: all .3s ease;
    transition-delay: .2s;
    animation: 1s ease 3s;
    animation-fill-mode: forwards;
}
@keyframes opacityOn {
    100% {opacity: 1;}
}

.end-game-window h1 {
    margin-bottom: 20px;
}


.end-game-text {
    font-size: 80px;
}
.end-game-text-animation {
    animation: 6s ease 3s infinite text-pulse;
}
@keyframes text-pulse{
    0% {transform: scale(1)}
    75% {transform: scale(1)}
    80% {transform: scale(0.9)}
    85% {transform: scale(1)}
    95% {transform: scale(0.88)}
    100% {transform: scale(1)}
}

.text-pulse-onclick {
    animation: 1s ease text-pulse-onclick;
}
@keyframes text-pulse-onclick{
    0% {transform: scale(1)}
    20% {transform: scale(0.9)}
    40% {transform: scale(1)}
    100% {transform: scale(1)}
}


.end-game-extra-text {
    animation: 1s ease-in-out 6s;
    opacity: 0;
    animation-fill-mode: forwards;
    margin-top: 2%;
    font-size: 16px;
}
@keyframes text-appearing {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.end-game-click-area {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 99;
}




.menu-window {
    display: none;
    position: relative;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: #766E64;
    color: #BBAD9F;
    flex-direction: column;
    z-index: 99;
    transition: all .5s ease;
    transition-delay: 0.1s;
}
.menu-window p {
    font-size: 80px;
    transition: all .2s ease;
    margin: 10px 0;
}
.menu-window p:hover {
    cursor: pointer;
    transform: scale(0.96);
    color: #F9F8EE;
}

.text_menu {
    position: absolute;
    top: 5%;
    font-size: 90px;
    /* color: #F9F8EE; */
}




.game-table-shell {
    width: 500px;
    height: 630px;
    border-radius: 25px;
    /* box-shadow: 0 20px 60px 0 rgb(0 0 0 / 20%); */
    /* border: 1px solid #dddddd; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.extra-area {
    width: 90%;
    height: 110px;
    border-radius: inherit;
    justify-content: flex-end;
    padding: 0 5%;
    position: relative;
}
.extra-area-block {
    flex-direction: column;
    width: 110px;
    height: inherit;
    background-color: #BBAD9F;
    border-radius: inherit;
    transition: all .1s ease;
}
.extra-area-block:hover {
    transform: scale(0.94);
    cursor: default;
}


.menu-button-shell {
    position: absolute;
    left: 30px;
    top: 30px;
    width: 90px;
    height: 70px;    
    padding: 10px 0 100px 0;
    transition: all .2s ease;
}
.menu-button {
    position: relative;
    width: inherit;
    height: inherit; 
    flex-direction: column;
    justify-content: space-evenly;
}

.line {
    height: 6px;
    width: 55%;
    background-color: #fff;
    border-radius: 60px;
}
.mid-line {
    width: 45%;
}
.menu-button-click-area {
    position: absolute;
    border-radius: inherit;
    left: 0;
    top: -10px;
    width: inherit;
    height: 180px;
}

.menu-button-shell:hover {
    transform: translateY(-10%);
    cursor: pointer;
}
.menu-button-shell:active {
    transform: translateY(-5%) scale(0.92);
}



.score-blocks {
    height: 100%;
    width: 52%;
    justify-content: space-between;
    border-radius: inherit;
}
.extra-area-block p {
    margin-bottom: 5%;
    color: #e4e3dc;
    font-size: 16px;
}
.score {
    font-size: 32px;
    color: #fff;
}





.game-table {
    height: 480px;
    background-color: #BBAD9F;
    border-radius: inherit;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 10px;
    box-shadow: 0 20px 40px 0 rgb(0 0 0 / 15%);

    position: relative;
    z-index: 3;
}


.empty-cell {
    background-color: #CCC0B4;
    border-radius: 20px;
    margin: 5px;
}
.cell {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    font-size: 50px;
    font-weight: bold;
    color: #766E64;
}

.cell-filling {
    animation: .35s ease cell-filling;
}
@keyframes cell-filling {
    70% {
        transform: scale(1.12);
    }
    100% {
        transform: scale(1);
    }
}




.num_2-new {
    background-color: #EEE4D9;
    transform: scale(0.1);
    transition: all 0.2s ease;
}
.cell-append {
    transform: scale(0);
    animation: .3s ease .1s cell-append;
    animation-fill-mode: forwards;
}
@keyframes cell-append {
    0% {
        transform: scale(0);
    }
    70% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}


.num_2 {
    background-color: #EEE4D9;
}
.num_4 {
    background-color: #EDDFC7;
}
.num_8 {
    background-color: #F1B178;
    color: #fff;
}
.num_16 {
    background-color: #EC8D53;
    color: #fff;
}
.num_32 {
    background-color: #F57C5E;
    color: #fff;
}
.num_64 {
    background-color: #EB5936;
    color: #fff;
}
.num_128 {
    background-color: #F3D76B;
    color: #fff;
    font-size: 45px;
}
.num_256 {
    background-color: #F0D04A;
    color: #fff;
    font-size: 45px;
}
.num_512 {
    background-color: #E4C02A;
    color: #fff;
    font-size: 40px;
}
.num_1024 {
    background-color: #D6B427;
    color: #fff;
    font-size: 35px;
}
.num_2048 {
    background-color: #F94E37;
    color: #fff;
    font-size: 30px;
}










/* ADAPTIVE */
@media (min-width: 2200px) {
    .end-game-text, .menu-window p {
        font-size: 110px;
    }
    .end-game-extra-text {
        font-size: 22px;
    }
    .text_menu {
        font-size: 140px;
    }

    .game-table-shell {
        width: 650px;
        height: 840px;
    }
    .extra-area {
        height: 150px;
    }
    .extra-area-block {
        width: 150px;
        border-radius: 35px;
    }
    .menu-button-shell {
        width: 110px;
        height: 90px;
        top: 50px;
        padding: 10px 0 300px 0;
    }
    .line {
        height: 7px;
    }


    .score-blocks {
        width: 55%;
    }
    .extra-area-block p {
        font-size: 22px;
    }
    .score {
        font-size: 42px;
    }


    .game-table {
        height: 630px;
        border-radius: 40px;
    }
    .empty-cell {
        border-radius: 35px;
        margin: 6px;
    }
    .cell {
        font-size: 70px;
    }


    .num_128, .num_256 {
        font-size: 65px;
    }
    .num_512 {
        font-size: 60px;
    }
    .num_1024 {
        font-size: 48px;
    }
    .num_2048 {
        font-size: 45px;
    }
}


@media (max-width: 1250px) {
    .end-game-text, .menu-window p {
        font-size: 70px;
    }
    .end-game-extra-text {
        font-size: 15px;
    }
    .text_menu {
        font-size: 80px;
    }

    .game-table-shell {
        width: 450px;
        height: 570px;
    }
    .extra-area {
        height: 100px;
    }
    .extra-area-block {
        width: 100px;
    }
    .menu-button-shell {
        width: 85px;
        height: 70px;
        top: 25px;
    }

    .extra-area-block p {
        font-size: 15px;
    }
    .score {
        font-size: 28px;
    }


    .game-table {
        height: 430px;
    }
    .cell {
        font-size: 45px;
    }


    .num_128, .num_256 {
        font-size: 40px;
    }
    .num_512 {
        font-size: 35px;
    }
    .num_1024 {
        font-size: 30px;
    }
    .num_2048 {
        font-size: 25px;
    }
}


@media (max-width: 1000px) {
    .end-game-text, .menu-window p {
        font-size: 60px;
    }
    .end-game-extra-text {
        font-size: 14px;
        margin-top: 3%;
    }
    .text_menu {
        font-size: 70px;
    }

    .game-table-shell {
        width: 400px;
        height: 510px;
    }
    .extra-area {
        height: 95px;
    }
    .extra-area-block {
        width: 95px;
    }
    .menu-button-shell {
        width: 75px;
        height: 60px;
        top: 25px;
    }
    .line {
        height: 5px;
    }

    .score-blocks {
        width: 55%;
    }
    .extra-area-block p {
        font-size: 14px;
    }
    .score {
        font-size: 26px;
    }


    .game-table {
        height: 380px;
    }
    .cell {
        font-size: 40px;
    }

    .num_128, .num_256 {
        font-size: 35px;
    }
    .num_512 {
        font-size: 30px;
    }
    .num_1024 {
        font-size: 25px;
    }
    .num_2048 {
        font-size: 20px;
    }
}


@media (max-width: 768px) {
    .end-game-text, .menu-window p {
        font-size: 50px;
    }
    .end-game-extra-text {
        margin-top: 4%;
        font-size: 13px;
    }
    .text_menu {
        font-size: 60px;
    }

    .game-table-shell {
        width: 350px;
        height: 460px;
    }
    .extra-area {
        height: 90px;
    }
    .extra-area-block {
        width: 90px;
    }
    .menu-button-shell {
        width: 70px;
        height: 55px;
        top: 30px;
        left: 20px;
    }

    .score-blocks {
        width: 60%;
    }
    .extra-area-block p {
        font-size: 13px;
    }
    .score {
        font-size: 22px;
    }


    .game-table {
        height: 330px;
    }
    .empty-cell {
        border-radius: 17px;
        margin: 3px;
    }
    .cell {
        font-size: 38px;
    }

    .num_128, .num_256,.num_512 {
        font-size: 34px;
    }
    .num_1024 {
        font-size: 25px;
    }
    .num_2048 {
        font-size: 23px;
    }
}


@media (max-width: 480px) {
    .end-game-text, .menu-window p {
        font-size: 40px;
    }
    .end-game-extra-text {
        margin-top: 5%;
        font-size: 12px;
    }
    .text_menu {
        font-size: 50px;
    }

    .game-table-shell {
        width: 334px;
        height: 430px;
    }
    .extra-area {
        height: 80px;
        width: 94%;
        padding: 0 3%;
    }
    .extra-area-block {
        width: 80px;
        border-radius: 20px;
    }
    .menu-button-shell {
        border-radius: 17px;
        width: 60px;
        height: 45px;
        top: 30px;
        left: 25px;
    }
    .line {
        height: 4px;
    }


    .score-blocks {
        width: 54%;
    }
    .extra-area-block p {
        font-size: 12px;
    }
    .score {
        font-size: 20px;
    }


    .game-table {
        height: 320px;
        border-radius: 22px;
        padding: 7px;
    }
    .empty-cell {
        border-radius: 16px;
    }
    .cell {
        font-size: 35px;
    }

    .num_128, .num_256,.num_512 {
        font-size: 30px;
    }
    .num_1024 {
        font-size: 22px;
    }
    .num_2048 {
        font-size: 20px;
    }
}


@media (max-width: 360px) {
    .end-game-extra-text {
        margin-top: 6%;
    }

    .game-table-shell {
        width: 284px;
        height: 380px;
    }
    .extra-area {
        height: 75px;
        width: 94%;
    }
    .extra-area-block {
        width: 75px;
    }
    .menu-button-shell {
        width: 55px;
        height: 40px;
        top: 35px;
        left: 0;
    }

    .score-blocks {
        width: 60%;
    }

    .game-table {
        height: 270px;
    }
    .empty-cell {
        margin: 3px;
    }
    .cell {
        font-size: 30px;
    }

    .num_128, .num_256,.num_512 {
        font-size: 25px;
    }
    .num_1024 {
        font-size: 18px;
    }
    .num_2048 {
        font-size: 15px;
    }
}